<body>
   <h1>Create a new category</h1>

   <form method="POST" action="/categories/create">
      <input name="name" type="text" placeholder="Category name">

      <button type="submit">Add Category</button>
   </form>
</body>