<a href="/categories">Back</a>
<h1>Category Detail: <%= @category.name %></h1>

<table>
   <thead>
      <th>No</th>
      <th>Item</th>
   </thead>
   <tbody>
      <% @items.each_with_index do |item, idx| %>
         <tr>
            <td><%= idx + 1 %></td>
            <td><%= item.name %></td>
         </tr>
      <% end %>
   </tbody>
</table>