<h1>Home</h1>

<ul>
   <li><a href='/items'>Items</a></li>
   <li><a href='/categories'>Categories</a></li>
   <li><a href='/customers'>Customers</a></li>
   <li><a href='/orders'>Orders</a></li>
</ul>